.toolNav .header .nav .nav-item button {
    font-size: 20px;
}
.comTask{
    background-color: #5f5e5e;
    text-decoration: line-through;
    transition:all 1s;
}
#task{
    transition:all 1s;
}

.DarkMood{
    background-color: black;
}
section .header ul {
    border-radius: 50px;
    height: 50px;
}
section .header ul li{
    margin:auto;
}